.pageContainer {
  height: 100vh;
  background-image: url('/img/background.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; 
  max-width: 100%;
}

.logoContainer {
  padding-top: 35vh;
}

.arrowContainer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.textContainer {
  padding-top: 35vh;
  background-color: rgb(1, 1, 1, 0.2);
  color: white;
}