.pageContainer {
  height: 100vh;
  background-image: url('/img/background.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; 
  max-width: 100%;
}

.pageContainer2 {
  height: 100vh;
  background-color: rgb(1, 1, 1, 0.4);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; 
  max-width: 100%;
}

.pageContainer3 {
  height: 100vh;
  background-color: black;
  background-image: url('/img/Pandora.jpg');
  background-size: 70% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; 
  max-width: 100%;
}

.logoContainer {
  padding-top: 35vh;
}

.arrowContainer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.textContainer {
  text-align: center;
  padding-left: 5vw;
  padding-top: 35vh;
  color: white;
  font-family: Ariel, 'Arial Narrow Bold', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 2.125rem;
}

.textContainer a {
  color:white;
  font-weight: bold;
  text-decoration: none;
}