.logoContainer {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 100%;
}

.logoImage {
  height: 400px;
  width: 400px;
  max-width: 100%;
}

